<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- for social media sharing links  -->
    <meta name="theme-color" content="#439299" />
    <meta property="og:description" content="description" />
    <meta property="og:title" content="Adsamy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="website link" />
    <meta property="og:image" content="website image" />
    <!-- bootstrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- scss -->
    <link rel="stylesheet" href="./scss/main.css" />

    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <title>ADSAMY</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body id="app">
    <!-- Navbar Include -->
    <nav
      class="navbar sticky-top navbar-expand-lg bg-dark-blue text-white py-2"
      id="navbar_container"
    ></nav>
    <!-- --Navbar Include -->
    <header class="row">
      <div class="col-md-4">
        <img
          class="w-100 h-100 object-fit-contain"
          src="./imgs/headerImg.gif"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img class="w-100" src="./imgs/headerImg(1).gif" alt="" />
      </div>
      <div class="col-md-4">
        <img class="w-100" src="./imgs/headerImg(2).gif" alt="" />
      </div>
    </header>
    <section class="row bg-dark ">
      <div class="col-md-6">
        <img src="./imgs/girleImg.png" class="w-100" alt="" />
      </div>
      <div class="col-md-6 py-5 pe-4">
        <div class="text-pink ">Who We Are</div>
        <h2 class="text-white fw-bold pb-5">About ADSAMY MODELING</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis
          odit corrupti placeat, dicta quis. Natus odit impedit ab. Tenetur
          adipisci, atque est cum dolorum cumque laudantium facilis? Dolorum,
          repellendus.
        </p>
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis
          odit corrupti placeat, dicta quis. Natus odit impedit ab. Tenetur
          adipisci, atque est cum dolorum cumque laudantium facilis? Dolorum,
          repellendus.
        </p>
      </div>
    </section>
    <section style="background: rgba(0, 0, 0, 1);" class="py-5">
      <div class="text-pink text-center">What are you</div>
      <h2 class="text-white fw-bold pb-5 text-center">Looking for</h2>
      <div class="row">
        <div
          class="col-md-2 px-3 col-4"
          v-for="(item, index) in items"
          :key="index"
        >
          <div class="image-card">
            <img :src="item.image" class="img-circle w-100" alt="" />
            <p class="text-white text-center">{{ item.text }}</p>
          </div>
        </div>
      </div>
    </section>
    <section style="background: #1A1A1A;" class="py-5">
      <div class="text-pink text-center">Our Agency</div>
      <h2 class="text-white text-center">Testimonials & Quotes</h2>
      <div class="swiper agancy-swiper">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            v-for="(item, index) in swiperItems"
            :key="index"
          >
            <div class="text-secondary text-center w-50 mx-auto pt-3">
              {{item.text}}
            </div>
            <div class="text-pink pt-2 text-center">{{item.title}}</div>
            <div class="vw-5 mx-auto mt-3">
              <img
                :src="item.image"
                :alt="item.title"
                class="w-100 border-2 border border-pink rounded-circle"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-black py-5">
      <div class="text-pink text-center">High Rated Models</div>
      <h2 class="text-white text-center fw-bold">Top Models</h2>
      <div class="container d-flex flex-wrap py-3">
        <div
          class="TopModels-image-card p-1"
          v-for="(item, index) in HighRatedModels"
          :key="index"
        >
          <img :src="item.image" class="w-100 mb-2" alt="" />
          <div class="Natacha bg-white p-1 border-5 fw-bold color-black">
            {{item.title}}
          </div>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-pink rounded-pill px-4 py-2 mx-auto">
          View All
        </button>
      </div>
    </section>
    <section class="ourServices py-5">
      <h2 class="text-white text-center py-5 my-5">Our Services</h2>
      <div class="container">
        <div class="row bg-white p-2 mb-5">
          <div class="col-md-6 border-white p-2">
            <img src="https://picsum.photos/301" alt="" class="w-100 vh-35" />
          </div>
          <div class="col-md-3 border-white p-2">
            <img src="https://picsum.photos/302" alt="" class="w-100 vh-35" />
          </div>
          <div class="col-md-3 border-white p-2">
            <img src="https://picsum.photos/305" alt="" class="w-100 vh-35" />
          </div>
          <div class="col-md-3 border-white p-2">
            <img src="https://picsum.photos/306" alt="" class="w-100 vh-35" />
          </div>
          <div class="col-md-3 border-white p-2">
            <img src="https://picsum.photos/309" alt="" class="w-100 vh-35" />
          </div>
          <div class="col-md-6 border-white p-2">
            <img src="https://picsum.photos/307" alt="" class="w-100 vh-35" />
          </div>
        </div>
      </div>
    </section>
    <div class="bg-black">
      <div class="container ">
        <section class="row py-5 ">
          <div class="col-md-6 ">
            <div class="text-pink">Take A Chance</div>
            <h2 class="text-white fw-bold">BECOME A MODEL</h2>
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quos
              nihil voluptatum harum sunt eos quaerat mollitia vero labore qui
              atque omnis, totam architecto cupiditate, provident veniam sed
              optio quod!
            </p>
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quos
              nihil voluptatum harum sunt eos quaerat mollitia vero labore qui
              atque omnis, totam architecto cupiditate, provident veniam sed
              optio quod!
            </p>
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quos
              nihil voluptatum harum sunt eos quaerat mollitia vero labore qui
              atque omnis, totam architecto cupiditate, provident veniam sed
              optio quod!
            </p>
            <button class="btn btn-pink rounded-pill px-4 py-2 mx-auto">
              Register Here
            </button>
          </div>
          <div class="col-md-6">
            <img src="./imgs/model.png" class="w-100" alt="" />
          </div>
        </section>
      </div>
    </div>
    <section style="background: #1A1A1A" class="py-5">
      <div class="text-pink text-center ">High Rated Models</div>
      <h2 class="text-white text-center fw-bold">Top Models</h2>
      <div class="container py-5">
        <div class="row">
          <div class="col-md-3">
            <img src="./imgs/topModals/image1.jpeg" class="w-100"  alt="" />
          </div>
          <div class="col-md-3">
            <img src="./imgs/topModals/image1.jpeg"  class="w-100" alt="" />
          </div>
          <div class="col-md-3">
            <img src="./imgs/topModals/image1.jpeg" class="w-100"  alt="" />
          </div>
          <div class="col-md-3">
            <img src="./imgs/topModals/image1.jpeg" class="w-100"  alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Include -->
    <footer
      class="text-center  mt-0 text-lg-start text-white"
      style="background: linear-gradient(180deg, #201F34 0%, #12111F 100%);"
      id="footer_container"
    ></footer>

    <script src="./js/vueScript.js"></script>
    <!-- --Footer Include -->

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5b9061b1a3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/isotope.js"></script>
    <!-- dynamic load fixed parts -->
    <script src="./js/load_fixed_parts.js" crossorigin="anonymous"></script>
    <script>
      var agancySwiper = new Swiper(".agancy-swiper", {});
    </script>
  </body>
</html>
